.scroll-container
  .popup-header
    .title
      p Warum Wikiwash?
    .close
      a(href="" ng-click="$root.showModal = !$root.showModal") X
  .content
    p Bei <strong>WikiWash (Beta)</strong> WikiWash handelt es sich um den Prototyp im Rahmen einer Machbarkeitsstudie, der es Journalisten, Bürgern und Aktivisten ermöglichen soll, Verläufe und Tendenzen auf Wikipedia zu entdecken, indem Seitenänderungen in Echtzeit verfolgt werden können. Die Plattform hat es sich zum politische und unternehmensbezogene Verläufe und Tendenzen auf Wikipedia sichtbarer zu machen und mittels Crowdsourcing mehr Transparenz zu erzielen.
    p  Wählen Sie einen Wikipedia Artikel aus und nutzen Sie WikiWash zum:
    ul
      li verfolgen von Änderungen in Echtzeit  und Erkennen welche Textteile entfernt und hinzugefügt wurden
      li Verfolgen topaktueller Artikel durch das Auge derjenigen die Wikipedia bearbeiten
      li Datendownload um eingehender zu analysieren

    p WikiWash wurde von einem Team aus Journalisten der “Metro News Canada” in Zusammenarbeit mit The Working Group ins Leben gerufen. Die Idee entstand während der  „TechRaking Toronto“, einer Konferenz über Datenachrichtenräume, ausgerichtet vom kanadischen „Centre for Investigative Reporting“, Google Canada und der Nachrichtenagentur „The Canadian Press“.

    p Bei der Betaversion von  WikiWash handelt es sich um einen Prototype im Rahmen einer Machbarkeitsstudie, zur Erforschung eines Werkzeugs mit dem Artikel  in Wikipedia entdeckt werden können.  Falls Sie Fragen zur Benutzung von   Wikiwash haben , besuchen Sie bitte <a href="/docs" target="_self">Dokumente und die  FAQ -Seite </a>.

    p Wir freuen uns WikiWash in Ihre Hände legen zu können und erwarten mit Spannung  die Ergebnisse und nächsten Entwicklungsschritte. Bitte  <a href="mailto:wikiwash@twg.ca"> kontaktieren Sie uns und teilen Sie Ihre Geschichten und Erfahrungen mit uns</a>.

    .images
      social-buttons

      a(href="http://metronews.ca/" target="_blank")
        img.metro-logo(src="/img/metro-white.png")
      a(href="http://twg.ca/" target="_blank")
        img.metro-logo(src="/img/twg-white.png")
      a(href="http://www.centerforinvestigativereporting.org/" target="_blank")
        img.metro-logo(src="/img/cir-white.png")
      a(href="http://google.com/" target="_blank")
        img.metro-logo(src="/img/logo-google-white.png")
  .trdmrk
    p &copy; Wikiwash <span id="year"></span>
    script(type="text/javascript").
      var year = new Date().getFullYear();
      document.getElementById('year').innerHTML = year;
