.faq-content
  h1 WikiWash 101

  p Bei der Betaversion von WikiWash handelt es sich um den Prototyp im Rahmen einer Machbarkeiststudie, der es Journalisten, Bürgern und Aktivisten ermöglichen soll, Verläufe und Tendenzen auf Wikipedia zu entdecken, indem Seitenänderungen in Echtzeit verfolgt werden können. Die Plattform hat es sich zum politische und unternehmensbezogene Verläufe und Tendenzen auf Wikipedia sichtbarer zu machen und mittels Crowdsourcing mehr Transparenz zu erzielen.

  p WikiWash wurde von einem Team aus Journalisten der “Metro News Canada” in Zusammenarbeit mit <a target="_blank" href="http://twg.ca">The Working Group</a> ins Leben gerufen. Die Idee entstand während der  „TechRaking Toronto“, einer Konferenz über Datenachrichtenräume, ausgerichtet vom kanadischen „Centre for Investigative Reporting“, Google Canada und der Nachrichtenagentur „The Canadian Press“.

  h2 Zur Benutzung von WikiWash:

  p Öffnen Sie <a target="_blank" href="https://de.wikipedia.org/wiki/Wikipedia:Hauptseite">Wikipedia</a> in einem neuen Tab und wählen Sie die Seite aus, die Sie „Waschen“ möchten.

  p Kopieren Sie den URL der Wikipedia-Seite und fügen Sie diesen in die WikiWash- Suchleiste ein. Klicken Sie nun auf „Waschen“.

  p WikiWash findet nun die letzen 550 Änderungen, die auf der entsprechenmden  Wikipedia-Seite vorgenommen wurden und zeigt diese überlagerned auf dem aktuellen Seiteninghalt an. Entfernte Textstellen werden rot markiert angezeigt, hinzugefügter Text ijn grüner Markierung.
  
  .indented 
    img(src="/img/faq/ww-edit-added-and-removed.jpg")
    
  p Standardmäßig, werden sowohl ENTFERNTE als auch HINZUGEFÜGTE Zeichen angezeigt. Dadurch wird der Umgang der erfolgten Änderungen angezeigt, allerdings kann dies die Lesbarkeit beeinträchtigen. Im oberen Anschnitt finden Sie zwei Markierungsfelder: ENTFERNT und HINZUGEFÜGT. Versuchen Sie diese abwechselnd zu Aktivieren und Deaktivieren , damit Sie einen Überblick darüber erhalten, welche Textstellen entfernt und welche hinzugefügt wurden.
  
  .indented 
    img(src="/img/faq/ww-edit-removed.jpg")

  p Entfernt

  .indented 
    img(src="/img/faq/ww-edit-added.jpg")

  p Hinzugefügt

  h2 Anmerkungen zur Formatierung: 

  p Alle Zeichen die sich sowohl im entfernten, als auch im hinzugefügten Text entsprechen, werden als unbearbeitet angezeigt. Zu Beginn kann dies etwas irritierend wirken, bis Sie feststellen, dass WikiWash nur die Unterschiede zwischen beiden Seiten anzeigen kann.

  p Falls die Zeichen bei beiden Seitenversionen in gleicher Reihenfolge auftauchen, wird die Veränderung nicht erkannt. Die untere Darstellung zeigt dies an Hand der Zeichen m, a und i, die im entfernten und hinzugefügten Text vorkommen.
  
  .indented
    img(src="/img/faq/formatting-added-removed.jpg")
  .indented
    img(src="/img/faq/formatting-removed.jpg")
  .indented
    img(src="/img/faq/formatting-added.jpg")
  
  .spacer

  p IFalls Änderungen an einem Link, einer Referenz oder einer Datei vorgenommen wurden, zeigt Ihnen WikiWash den zugehörigen HTML Code an (siehe oben).

  h2 Verfolgen Sie Änderungen in Echtzeit!

  p Wenn Sie die WikiWash-Seite geöffnet lassen, erscheinen alle Änderungen auf den entsprechenden Wikipedia-Seiten in Echtzeit.

  p Klicken Sie linker Hand in der Liste der Veränderungen, auf die Zusammenfassung um die Veränderung auf der Seite zu sehen.  Die Seite zeigt Ihnen dann die erste durchgeführte Veränderung auf der Seite an.

  p Sie sehen neben jeder Änderung rote und grüne Nummern in der Zusammenfassung. Die rote Zahl zeigt die entfernten Zeichen an, die grüne die Zahl der hinzugefügten Nummern.
  
  .indented
    img(src="/img/faq/num-additions-subtractions.png")

  .indented
    .italic Hinweis: Bei einer von Wikipedia als einzelne Änderungen angezeigte Veränderung, kann es sich um eine Sammlung von hinzugefügten und entfernten Texteilen durch einen Autor handeln. Falls die Anzahl der hinzugefügten / entfernten Zeichen viel höher erscheint, als in der ersten Veränderung die auf dem Schirm erscheint , versuchen Sie rollen Sie den Bildschirmverlauf nach oben und unten, um weitere Änderungen zu finden.

  p Sobald Sie einige dieser Äderungen gesammelt haben, könne diese als CSV-Datei exportiert und anschließend ausgewertet werden.
  
  .indented
    img(src="/img/faq/user-name.png")

  p Rechts in der Veränderungsliste können Sie ebenfalls auf den Usernamen klicken, um den Verlauf seiner Tätigkeiten auf Wikipedia einzusehen. Zukünftig möchten wir diese Informationen direkt auf WikiWash ersichtlich machen, um die Aktivitäten eines Users über verschiedenen Seiten hinweg sichtlich zu machen.

  p Wir freuen uns WikiWash in Ihre Hände zu legen und erwarten gespannt das Ergebnis!

  h2 FAQ

  p.faq-title Wem gehört WikiWash?
  .indented Uns allen. <a target="_blank" href="https://github.com/twg/wikiwash">WikiWash ist ein Open-source</a> Projekt, dass jeder bearbeiten und anpassen kann.

  p.faq-title Kann ich WikiWash auf meinem Handy verwenden?
  .indented Es ist möglich, aber nicht unbedingt einfach. Da es sich um einen Prototypen handelt, ist WikiWash Beta für die Nutzung auf dem Computerbildschirm und den entsprechenden Browsern ausgerichtet.

  p.faq-title Manchmal scheint es nicht richtig zu funktionieren ...
  .indented Leider war. Bitte <a href="mailto:wikiwash@twg.ca">schreibe un seine Nachricht</a> oder ein <a target="_blank" href="https://github.com/twg/wikiwash">Github Problembericht</a> und wir bemühen uns das Problem so schnell wie möglich zu beheben!

  p.faq-title I habe eine Idee, wie man die App verbessern kann ...
  .indented Leider war. Bitte schreibe un seine Nachricht  oder ein <a target="_blank" href="https://github.com/twg/wikiwash">Github Problembericht</a> und wir bemühen uns das Problem so schnell wie möglich zu beheben!

  p.faq-title I habe eine tolle/schreckliche/nervige/versteckte Tendenz entdeckt- wen kann ich informieren?
  .indented Uns! Wir hören immer gerne von den WikiWash Beta-Usern. Bitte <a target="_blank" href="mailto:wikiwash@twg.ca">schreiben Sie uns</a>.

  p.faq-title Warum die ganzen Bots?
  .indented
    .image 
      img(src="/img/faq/bots.jpg")
    .spacer
    p In der Änmderungliste tauchen viele Bots auf. Manchmal handelt es sich um Fehlerbehebungen, Optimierungsmaßnahmen oder auch Schädlinge.  Behalten Sie die Bots im Augs.

  p.faq-title Was bedeutet ‘Diff Unavailable’?
  .indented Falls der Unterscheid zwischen den Seiten ENORM ist oder eine alte Version der seite komplett gelöscht wurde und durch eine neue ersetzt wurde, können die Unterscheide nicht angezeigt werden. Dies kommt vor bei topaktuellen Seiten die in hoher Zahl verädert und schließlich gelöscht und als alte Version publiziert werden.

  p.faq-title Die Suche dauert sooooo lange … was ist los?
  .indented WikiWash Beta ist auf Transparenz und nicht auf Schnelligkeit ausgerichtet. Das System basiert auf WikiMedia API and the WikiMedia Servern, die auf ehemalige Seitenversionen zurückgreifen. Bei großen Seiten kann dies eine Weile dauern. Auch wenn viele User gleichzeitig zugreifen, müssen alle etwas auf die Bearbeitung durch WikiMedia API warten. Hätten wir nur direkten Zugriff auf die Wikidatabase.

  p.faq-title Wie kann ich die ganze Bearbeitungshistorie sehen?
  .indented Klicken Sie auf den Usernamen um die Liste der von ihm vorgenommen Änderungen im Wikipedia-Verlauf anzuzeigen. Wir hoffen diese Funktion zukünftig auf WikiWash zu integrieren, um den Verlauf leichter verfolgen und Tendenzen besser erkennen zu können.

  p.faq-title Wie sehe ich weiter Änderungen die ein User vorgenommen hat?
  .indented Click the user’s name to see a list of all of their other edits, back on their Wikipedia revision history. We’re hoping to bring this connectivity into WikiWash in the future, to make it easier to track a user’s edits and uncover spin.

  p.faq-title Kann ich einer Seite ‘folgen’?
  .indented Noch nicht. Wir hoffen diese Funktion zukünftig auf WikiWash zu integrieren. Momentan können Sie aber den Tab geöffnet lassen , um alle Änderungen in Echtzeit verfolgen zu können.

  p.faq-title Wie funktioniert WikiWash?
  .indented WikiWash frägt  Wikipedia's API nach aktuellen Änderungen auf den seitenab , und sendet diese mittels eines Open Source-Lösung  an den Browser. Um die Unterschiede auzuzeigen , greifen wir auf vollständige Versionen zu und zeigen die Differenzen auf. Mindestens zwei vollständige Seitenversionen, werden uns per API zugesendet, weswegen das System manchmal langsam arbeitet. Aber wir arbeiten daran …

  p.faq-title Welche Technologie nutzt WikiWash?
  .indented Wir nutzen Node.js, Express.js, Socket.io und Angular.js für die WikiWash-Seite.

  p.faq-title Läuft WikiWash auf Internet Explorer 6, Netscape Navigator, AOLonline, oder anderen absolut veralteten Browsern?
  .indented
    img(src="/img/faq/no.gif")

  p.faq-title Ich möchte die Verbesserung dieses Apps ünterstützen!
  .indented Wir freuen uns darauf von Ihnen zu hören. Bitte <a target="_blank" href="mailto:wikiwash@twg.ca">Schreiben Sie uns</a>!

