.about-popup.light(ng-show="$root.showModal")
  div(ng-show="locale.current()=='en'")
    include ../locales/en/about-modal
  div(ng-show="locale.current()=='fr'")
    include ../locales/fr/about-modal
  div(ng-show="locale.current()=='de'")
    include ../locales/de/about-modal
