.wrapper-splash
  .search-header
    .logo-splash
      img(src="/img/WIKIWASH-Logo-HomeScreen%402x.png")
    .modo
      p(ng-i18next="phrase.home-headline")
      p(ng-i18next="phrase.home-tagline")
      .about
        a(href="/docs" target="_self" ng-i18next="phrase.home-howto")
        span.light= " | "
        a(href="" ng-click="$root.showModal = !$root.showModal" ng-i18next="phrase.home-whatis")
  .search-splash
    form(ng-submit="search()")
      input.button.wash(type='submit' ng-i18next='[value]verb.wash' ng-click='submit()')
      input.bar(type="search" ng-i18next='[placeholder]phrase.home-search' ng-model='pageName' ng-keyup="$event.keyCode == 13 && submit()" id="search")

  .search-suggestions(ng-if='suggestions.length > 0')
    p(ng-i18next='phrase.home-whattowash')
    ul
      li(ng-repeat='suggestion in suggestions | limitTo:15')
        a(href='/{{suggestion.url}}') {{ suggestion.title }}
  .footer-splash
    social-buttons
    p(ng-i18next='phrase.home-sponsors')
    a(href="http://metronews.ca/" target="_blank")
      img.metro-logo(src="/img/logo-metro.png")
    a(href="http://twg.ca/" target="_blank")
      img.metro-logo(src="/img/logo-twg.png")
    a(href="http://www.centerforinvestigativereporting.org/" target="_blank")
      img.metro-logo(src="/img/logo-cir.png")
    a(href="http://google.com/" target="_blank")
      img.metro-logo(src="/img/logo-google.png")

.overlay(ng-show="$root.showModal" ng-click="$root.showModal = !$root.showModal")
include ./about-modal
